<div mat-dialog-content class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="body">
      <h2 class="mat-title">Esqueci a senha</h2>

      <app-shared-form-field-input [parentForm]="getFormControl('email')" appearance="outline"
        label="Informe seu e-mail" placeholder="e-mail" data-cy="input-email">
      </app-shared-form-field-input>


      <app-shared-button [isDisabled]="!form.valid" text="confirmar" type="raised" color="primary"
        data-cy="access-button-login">
      </app-shared-button>
    </div>

  </form>

</div>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()" cdkFocusInitial>FECHAR</button>
</mat-dialog-actions>